@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "About";
}

<!--about strat here-->
<div class="about agile">
   <div class="container">
	  <div class="about-main w3layouts">
		  <div class="about-top">
		  	   <h3>About</h3>
		  	 <div class="col-md-6 about-left w3 wow bounceInLeft" data-wow-delay="0.3s">
		  	 	<h2>Neque porro quisquam ipsum quia dolor</h2>
		  	 	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
		  	    <ul class="about-list">
		  	    	<li><i class="arrow"> </i><a href="~/Home/Single">Natus error sit voluptatem</a></li>
		  	    	<li><i class="arrow"> </i><a href="~/Home/Single">voluptatem error sit natus</a></li>
		  	    	<li><i class="arrow"> </i><a href="~/Home/Single">But who has any right</a></li>
		  	    	<li><i class="arrow"> </i><a href="~/Home/Single">Porro quisquam est Neque </a></li>
		  	    </ul>
		  	 </div>
		  	 <div class="col-md-6  w3l about-right wow bounceInRight" data-wow-delay="0.3s">
		  	 	<img src='@Url.Content("~/Content/images/a1.jpg")' alt="" class="img-responsive">
		  	 </div>
		  	<div class="clearfix"> </div>
		  </div>
		  <div class="about-bottom">
			  	<div class="col-md-6 about-bottom-left  agileinfo wow bounceInLeft" data-wow-delay="0.3s">
			  		<img src='@Url.Content("../../Content/images/ab.jpg" )'alt="" class="img-responsive">
			  	</div>
			  	<div class="col-md-6 about-bottom-right  agileits wow bounceInRight" data-wow-delay="0.3s">		  		
	  				  <h3>Our Skills</h3>
	  					<div class="poling">
			              <div class="poll">
				              <div class="poll_desc">Experience</div>
				             <div class="skills">
				              	<div style="width:85%"> </div>
		                      </div>
					       </div>
					       <div class="poll">
				              <div class="poll_desc">Creative</div>
				              <div class="skills">
				              	<div style="width:95%"> </div>
		                       </div>
					       </div>
					        <div class="poll">
				              <div class="poll_desc">Design</div>
				              <div class="skills">
				              	<div style="width:100%"> </div>
		                      </div>
					       </div>
					       <div class="poll">
				              <div class="poll_desc">Artistic</div>
				              <div class="skills">
				              	<div style="width:35%"> </div>
		                      </div>
					       </div>
				      </div>
			  	</div>
			  	<div class="clearfix"> </div>
		  </div>
		  <div class="team wthree">
				<div class="team-top">
						<h3>Our Designers</h3>
				</div>
				<ul class="ch-grid">
						<li>
							<a href="/Home/Single"><div class="ch-item ch-img-1 wow bounceIn" data-wow-delay="0.4s">
								<div class="ch-info wthree">
									<h3>Brainiac</h3>
									<p>by Daniel Nyari</p>
									<ul>
										<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div></a>
						</li>
						<li>
							<a href="/Home/Single"><div class="ch-item ch-img-2 wow bounceIn" data-wow-delay="0.4s">
								<div class="ch-info">
									<h3>Vision</h3>
									<p>by Sunny Lisa</p>
									<ul>
										<a href="#"><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
										<a href="#"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
										<a href="#"><li><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
									</ul>
								</div>
							</div></a>
						</li>
						<li>
							<a href="/Home/Single"><div class="ch-item ch-img-3 wow bounceIn" data-wow-delay="0.4s">
								<div class="ch-info">
									<h3>Cylon</h3>
									<img src="'@Url.Content("~/Content/images/t3.jpg")'" /><p>by James Crook </p>
									<ul>
										<a href="#"><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
										<a href="#"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
										<a href="#"><li><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
									</ul>
								</div>
							</div></a>
						</li>
						<li class="no-mar w3">
							<a href="/Home/Single"><div class="ch-item ch-img-4 wow bounceIn" data-wow-delay="0.4s">
								<div class="ch-info">
									<h3>Cylon</h3>
									<p>by Nyari Seya</p>
									<ul>
										<a href="#"><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
										<a href="#"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
										<a href="#"><li><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
									</ul>
								</div>
							</div></a>
						</li>
				 </ul>
			   <div class="clearfix"> </div>
		   </div>
	  </div>
   </div>
</div>
<!--about end here-->
