@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "admin";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header w3-agileits">
        <h3>Admin</h3>
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"  ><a href="/Admin/AddProduct">Add Product</a></li>
        <li role="presentation"><a href="/Admin/ViewProduct">View Product</a></li>
       
      </ul>
      </div>