@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Events";
}





<!--events start here-->
<div class="events w3">
	<div class="container">
		<div class="events-main">
			<div class="events-head">
				<h2>Events</h2>				
			</div>
			<div class="events-top wow bounceInRight" data-wow-delay="0.3s">
				<h4>30-7-2016</h4>
			<div class="col-md-6  w3ls fea-left">
				<a href="~/Home/Single"><img src='@Url.Content("~/Content/images/e1.jpg")' alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-6 wthree fea-right">
				<h3>These cases are perfectly</h3>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s.</p>
			</div>
			<div class="clearfix"> </div>
			</div>
			<div class="events-top wow bounceInLeft" data-wow-delay="0.3s">
				<h4>18-9-2016</h4>
			<div class="col-md-6  fea-left">
				<a href="single.html"><img src='@Url.Content("~/Content/images/e2.jpg")' alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-6  w3-agile fea-right">
				<h3>Sed ut perspiciatis unde</h3>
				<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced.</p>
			</div>
			<div class="clearfix"> </div>
			</div>
			<div class="events-top wow bounceInRight" data-wow-delay="0.3s">
				<h4>30-9-2016</h4>
			<div class="col-md-6  fea-left">
				<a href="~/Home/Single"><img src='@Url.Content("~/Content/images/e3.jpg" )'alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-6  fea-right">
				<h3>Lorem ipsum dolor amet</h3>
				<p>Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
			</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<nav class="events agileits">
<ul class="pagination w3_paging">
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			  </ul>
</nav>
</div>

<!--events end here-->

