@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Search Brand";
}
@model MvcApplication4.Models.product


<script>
    function f1() {
        $("#show").empty();
        var pid = $("#brand").val();
        var d = { "id": pid };
        var settings = {
            type: "POST",
            dataType: "json",
            url: "/Home/getBrand",
            data: d,
            success: function (resp) {
                console.log(resp);

                if (resp.list) {
                  
                    $.each(resp.list, function (i, item) {

                        $("#show").append('<li> <img src="/Images/'+item.picture+'"  alt="" class="img-responsive">' +
							'<div><h5> '+item.brand+'</h5></div></li>');
                        //alert('Id = ' + item.brand + " Name = " + item.picture);
                    });
                }
            },
            error: function (e) {
                alert("error");
            }
        };

        $.ajax(settings);

    };
     </script>
							<div class="contact agile">
   <div class="container">
	  <div class="contact-main agileits">
	  	 <div class="contact1-block">
			 <div class="contac-top  w3l wow bounceInLeft" data-wow-delay="0.3s">
			 	<h2>Search Product</h2>
			 </div>
			<div class="contact-bottom wow bounceInRight" data-wow-delay="0.3s">
						<div class="col-md-6 contact-us con-mar">
                              <select  class="form-control" name="brand" id="brand">
                                <option value="0">Select Brand</option>
                                  <option>Prada</option>
                                  <option>GUCCI</option>
                                  <option>Chanel</option>
                                  <option>Valentino</option>
                                  <option>Zara</option>
                                  <option>Fendi</option>
                                  <option>Hermes</option>
                                  <option>Cartier</option>
                                  <option>H&M</option>
                                  <option>DIOR</option>
                                  <option>Burberry</option>
                                  <option>D.K.N.Y</option>
                                  <option>Tiffany & Co.</option>
                                  <option>Balmain</option>
                                  <option>Mark Jocabs</option>
                                 
                                  <option>Rayban</option>
                                  <option>ZIIIRO</option>
                                  <option>Ferrari</option>
                                  <option>SEIKO</option>
                                  <option>Armani</option>
                                  <option>Hugo Boss</option>
                                  <option>Nike</option>
                                  <option>Lacoste</option>
                                  <option>Adidas</option>
                                  <option>Diesel</option>
                                  <option>Tom Ford</option>
                                  <option>Vans</option>
                                  <option>Lee</option>
                                  <option>Calvin Klein</option>
                                  <option>Fred Perry</option>
                                  <option>Bulgari</option>
                                  <option>Clarks</option>
                                  <option>Topman</option>
                                  <option>Helly Hensen</option>
                                  <option>Brioni</option>
                                  <option>Champion</option>
                                  <option>Alfani</option>
                                  <option>Esprit</option>
                                  <option>Frye</option>
                                  <option>Jambu</option>
                                  <option>A. Link</option>
                                  <option>Graff</option>
                                  <option>Bergio</option>
                                  <option>Takat</option>
                                  <option>Coach</option>
                                  <option>Piaget</option>
                                  <option>Rolex</option>
                                  <option>Timex</option>
                                  <option>Kate Spade</option>
                                  <option>Mulberry</option>
                                  <option>Versace</option>
                                  <option>Miu Miu</option>
                                  <option>Reebok</option>
                                  <option>Rocky</option>
                                  <option>Puma</option>
                                  <option>Reef</option>
                                  <option>Rayban</option>
                                  <option>Maui Jim</option>
                                  <option>Ralph</option>
                                  <option>Persol</option>
                                  <option>Rado</option>
                                  <option>Fossil</option>
                                  <option>Lanvin</option>
                                  <option>HEX</option>
                                  <option>Obey</option>
                            </select>
							</div>
                        @Html.ValidationMessageFor(model => model.brand)
                        
                        <br /> <br /> <br />
                <div class="send">
						<input type="button" value="Search" onClick="f1()">
                    </div>
                
					<div id="show" class="da-thumbs w3layouts">

					</div>
                     
				</div>
			</div>
		  <div class="clearfix"> </div>
		</div>
	
       
	
	  </div>
   </div>

<!--contact end here-->
		
						
